{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block body %}

<form class="yes" method="post" action=".">
    {% csrf_token %}
     <h4 style="color:red">{{ form.email.errors }}</h4>

    <h4 style="color:white">Please enter your correct mail to reset your password</h4>
    <div id="div_id_email" class="control-group">
        <div class="controls"><input type="email" name="email" placeholder="Enter Your Mail" autocomplete="email"
                                     maxlength="254" class="emailinput" required="" id="id_email"></div>
    </div>

    <input type="submit" name="submit" value="Reset Password">

    <p style="color:white">© 2020-2021</p>
</form>

{% endblock %}


